/* navigation bar */
.navigation-bar {
  box-sizing: border-box;
  background-color: var(--nav-color__body);
  color: white;
  width: 54px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
}
.nav-open {
  width: 200px;
}
.navigation-bar__body {
  height: 15%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: display 0.5s ease-in-out;
  overflow: hidden;
}
.body-hide {
  opacity: 0;
  display: none;
}
.navigation-bar__body span {
  display: block;
  font-size: 20px;
}
.navigation-bar__body ul {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navigation-bar .navigation-bar__body:not(:nth-last-child(2)) {
  border-bottom: solid 1px white;
}
.navigation-bar__header {
  box-sizing: border-box;
  background-color: var(--nav-color__header);
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.navigation-bar__header img {
  height: 40px;
}
.header-hide img,
.header-hide span {
  display: none;
}
.navigation-bar .navigation-bar__header:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
}

.navigation-bar__link {
  text-decoration: none;
}
