.home_main {
  width:100%;
  height: 200vh;
  box-sizing:border-box;

}
.home_main__top {
  display: flex;
  width: 100%;
  height: 50%;
  position: relative;
}
.home_main__bottom {
  height: 50%;
}
.home_left {
  width: 60vw;
  height: 100%;
  background-color: #fde792;
  position: relative;
}
#home_left__center {
  display: flex;
  width: 80%;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:10%;
  left: 10%;
}
#logo_img {
  margin: 30px 0;
  width: 80%;
  height: 50%;
}
.home_right {
  width: 40vw;
  height: 100%;
  background-color: #fde792;
  position: relative;
}
#sign_in_div {
  position:absolute;
  top:30%;
  right: 25%;
  width: 60%;
}
input {
  border:none;
  padding: 15px 10px;
  font-size: 14px;
  width: 80%;
  border-radius: 12px;
}
input:focus {
  outline: none;
}
#home_left__center > div:first-child {
  font-size: 50px;
  color: #3F4346;
  font-weight:700;
}
#home_left__center > div:last-child {
  font-size: 30px;
  color: #3F4346;
  font-weight:600;
  text-align: center;
}
#sign_in_div label{
  display: block;
    margin: 10px 3px;
    font-size: 15px;
    font-weight: bold;
}
#down-icon {
  background-color: white;
  position: absolute;
  width: 30px;
  bottom: 3%;
  right: 48%;
  opacity: 0.6;
  border-radius: 50%;
}
#down-icon img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width:768px) {
    #home_left__center > div:first-child {
      font-size: 40px;
    }
    #home_left__center > div:last-child {
      font-size: 15px;
    }
}
@media screen and (min-width:768px) {
  #down-icon {
    width: 5%;
  }

}
